body {
    font-size: 18px;
    line-height: 1.5;
    margin: 0 auto;
  }
  
  
.material-symbols-outlined {
        font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
        
    }

.nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
      }

.nav-links a {
    font-size: 2em;
    text-decoration: none;
    }
      
      
header,
footer {

    background-color: blueviolet;
    color: #fff;
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
    padding: 0.5rem;
    font-family: 'Pacifico', cursive;
    box-shadow: 5px 10px 5px 5px #888888; 

  }
  
header {

    padding: 1rem;

  }
  
h1 {

    font-size: 1.3em;

  }
.para-name{

    font-size: 2em;
    
}
.para{
    font-size :2.2em ;
}

  header,
  nav,main,
  footer {
    margin: 2rem auto;
    max-width: 400px;
    min-width: 400px;

  }
  
  
main {
    display: grid;
    grid-template-columns: 1fr;
    font-size: 0.5rem;
    grid-gap: 10px;
  
  }

section {
    font-family: "Crimson Pro", serif;
    border: 3px solid blue;
    text-align: center;
    border-radius: 1pc;
    background-color: #88888893;
  }
  
h2{
    color: white;
    font-size: 2.1em;
    background-color: rgb(13, 57, 71);
    
    margin: 1 auto;
    
  }
  
img{
    max-width:  90%;
    height: 80%;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  
div {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  