
*{
    margin: 1px auto 1px;
  
}

body{
    
    width: 350px;
    border: 2px solid blue; 
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
header{
    background-color: #f07478;
}
#headNav{
    display: flex;
   
    gap: 10px;
    
}
#socials{
    margin-left: 95px;
}

article, section{
    width: 300px;
    border: 1px solid black;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;    
}
#logo, img{
    width: 35px;
}


nav ul{
    list-style-type: none;
    color: black;
    padding: 0;
    margin: 0;
    width: 100%;
}
nav ul li{ 
    display: flex;
    padding: 10px;
    margin: 0px;
}
nav ul li a{
    padding: .5rem 2vw;
    text-decoration: none ;
    color: black;
    width: 100%; 
}
nav ul li a:hover{
    text-decoration: none ;
    color: blue;
    background-color: yellow;
    height: 30px;
}

/*ham button toggle*/
#hamBtn{
    border: none;
    font-size: 2rem;
    background:transparent;
}
.open span:nth-child(1){
    display: none;
}

.open span:nth-child(2){
    display: block;
}

span:nth-child(1){
    display: block;
}
 span:nth-child(2){
    display: none;
}
nav ul{
    display: none;
}

nav ul.open{
    display: block;
}

/*End Ham Button*/

#showcase {
    display:grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 1fr 1fr;
}
.fruitpic{
   display: flex;
   width: 100px;
   height: 100px;
}
#pic3{
    grid-column: span 2/3;
    padding: 5px;
    width: 120px;
}
#intro{
    border: none;
    margin: 1px auto 1px;
    width: 94%;
    border-radius: 1px;
    background-image: url("../images/grape.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #f07478;
    background-blend-mode: multiply;
    color: white;
    text-align: center;
}

/*Weather card*/
#weather{
    background-image: url("../images/temp.webp");
    color: black;
}
#day-temp{
    background-color: #ffffff63;
    padding: 10px;
    border-radius: 15px;
    text-align: center;
    justify-self: center;
}

#forecast #threeday{
  
    background-color: #ffffff52;
    border-radius: 15px;
    padding: 10px;
    margin: 10px;
    
  }
  div#threeday{
    margin: 0;
    padding: 0;
   
   
  }
  #threeday img{
    width: 44px;
  }
  #icon{
    height: 50px;
    width: 50px;
  }
  h2,h3{
    text-align: center;
  }

  #forecast #threeday{
    display: grid;
    grid-template-columns:repeat(5,1fr);
    grid-template-rows: 1fr;
    gap: 0;
   
 
  }
  #forecast .day{
    
    margin-left: 10;
  }
  #forecast .icon-temp{
    
    margin-left: 20px;
    width: 55px;
  }
  #forecast .min-temp{
    
    margin-right: 10px;
    width: 50px;
  }
  #forecast .max-temp{
    
    
    width: 55px;
  }
  /*Information section*/
  #info-section{
    background-image: url("../images/infoo.webp");
    background-size: cover;
    background-color:#f07478;
    background-blend-mode: difference;
    color: #ffffff;
    border: none;

}
/*Call to action section*/
#call-act,#showcase{
    background-image: url("../images/infoo.webp");
    background-size: cover;
    background-color:#f07478;
    background-blend-mode: difference;
    color: #ffffff;
    border: none;


}
/*Fresh page*/

#displaySection{
    text-align: center;
    
}
#specialtyDrinkForm{
    display: grid;
    border-radius: 15px;
    text-align: center;
    padding: 1px;
    margin: 0;
    background-color: #d4878bcc 
}
.build{
    background-color: #d4878bcc ;
    background-image: url("../images/berries.jpg");
    background-blend-mode: multiply;
    color: #ffffff;
    text-align: center;
}

.drinks{
    text-align: center;
}
#submissionData{

   padding: 15px;
}

.btnCall:hover {
    background-color: #0056b3;
  }
.btnCall{
    background-color: #f07478;
    display: inline-block;
    margin: 10px 0px 10px 100px;
    padding: 10px ;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}
#btnOrder{
    background-color: #f07478;
    margin: 10px;
    padding: 10px;
    border-radius: 15px;
}
/**footer*/

footer{
    display: grid;
    background-color: #f07478;
    border:1px solid #f07478;
    height: 200px;
    padding: 10px;
}