@media only screen and (min-width: 810px) {
   
    main{
        display: grid;
        width: 98%;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: 
        "event hero hero sidebar"
        "weather hero hero sidebar"
        "join news news sidebar";
        justify-content: center;
        justify-self: center;
        justify-items: center;
        grid-gap: .4rem;
        

    }
    
   nav ul#primaryNav{
    display: flex;
    margin-left: 2vw;
    
    justify-content: center;
   }
    nav button{
        display: none;
    }
    nav ul li a{
        border: none;
        border-right: 1px solid black;
    }

   .spotlight{
    margin: auto;
    padding: 50px;
    border: 1px solid blue;
   }
    .spotlight img{

        width: 100%;
        height: 60%;
    }
    .sport:nth-child(3){
        display: block;
    }
    aside{
        
        flex-direction: column;
    }

    #hero{
        grid-area: hero;
        
    }
    #hero img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      #weather img {
        width: 100%;
        height: 40%;
        object-fit: cover;
      }
    #event{
        grid-area: event;
        
    }
    #sidebar{
        grid-area: sidebar;
       
    }
    #news{
        grid-area: news;

    }
    #weather{
        grid-area: weather;
    }
    #join{
        grid-area: join;
    }

    section:nth-child(5), .sections:nth-child(4),
    .sections:nth-child(2){
        width: 85%;
    }

    #weather-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100px; /* Adjust the height as needed */
      }
    img#weather-icon{
    
        width: 200px;
        height: 200px;
    }
      
      #weather-info p {
        margin: 5px; /* Adjust the margin as needed */
      }
    
    picture img{
        width: 300px;
    }



/*join*/

#join-main{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    align-items: center;
    background-color: aquamarine;
    width: 80%;
    align-self: center;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    width: 100%;
    max-width: 400px;
}

.membership-benefits {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.membership-benefits ul {
    list-style-type: none;
    padding: 0;
    align-items: center;
}

.membership-benefits ul li {
    margin-bottom: 10px;
    align-items: center;
}

/*join end*/

/*Discovery*/


/*Discovery End*/


/*Directory*/

.directory{
    display: block;
    text-align: center;

}
.directorymenu{
    background-color: red;
    }  
 
.grid section:nth-child(5) {
    
    display: none;
  }
  .grid section:nth-child(7) {
    /* Styling for Company 7 card */
    display: block;
  }
  .list section:nth-child(5){
    display: none;
  }

  .grid.cards img{

    border-radius: 50px;
    width: 40%;
    height: 100%;
}
/*Directory End*/

}