@media only screen and (min-width: 510px) {

    header{
        width: 100%;
        border: 1px solid black;
    }

    main{
        grid-template-columns:1fr 1fr 1fr;
        grid-template-rows:1fr 1fr 1fr 1fr 1fr;
       
    } 
    .sections{
        width: 90%;
        background-color: aquamarine;
        grid-column: span 3;
        
    }

    .spotlight img{

        width: 100%;
        height: 60%;
    }
    

    #hero img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      #weather img {
        width: 100%;
        height: 40%;
        object-fit: cover;
      }
    aside{
        display: flex;
        flex-direction: row;
        gap: 10px;
    }
   
    section:nth-child(5){
        display: block;
        order: 4;
        
        
    }

    .sections:nth-child(2){
        order: 5;
        width: 85%;
        grid-column: span 2;
        
    }

    .sections:nth-child(4){
        order: 6;
        width: 70%;
        grid-column: span 1;
    }
    
    .sport{
        height: 100%;
    }
    section:nth-child(7){
        position: fixed;
        display: block;
        order: 7;
        
        
    }

   /*join*/



    form{
        display: flex;
        flex-direction: column;
        
    }

    label{
        display: flex;
        flex-direction: column;
    }
    
    #join-main{
        display: flex;
        flex-direction: column;
        border: 1px solid black;
        align-items: center;
        background-color: aquamarine;
        width: 70%;
        align-self: center;
    }
    #user-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
      }
      #user-info input {
        display: block;
        margin-bottom: 20px;
        margin-left: auto;
        margin-right: auto;
        height: 25px;
      }
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
        width: 100%;
        max-width: 400px;
    }
    
   


   /*join end*/


/***Discovery***/
#discovery{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    align-items: center;
}

figure{
    
    width: 300px;

}

.grid.cards img{

    border-radius: 50px;
    width: 20%;
    height: 80%;
}

/*Discovery End*/



/*Directory*/

.directory{
    display: block;
    text-align: center;

}

.directorymenu{
    background-color: navy ;

}

#cards{
    display: block;
    text-align: center;
}

.grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    text-align: center;
    padding: 20px;
    column-gap: 20px;
    row-gap: 20px;
    border: 4px solid gold;

    }

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    row-gap: 20px;
    border: 4px double black;
    padding: auto;
    box-shadow: 0 0 10px #0b0a0a;
    padding: 20px;
    
}
.cards.grid section.member {
    border: 4px double black;
    width: auto;

}
.grid.cards img{

    border-radius: 50px;
    width: 100%;
    height: 300px;
}

}