html, body {
    height: 100%;
  }

  body{
    margin: 0;
    display: flex;
    flex-direction: column;
    min-width: 415px;
  }
  main {
    flex-grow: 1;
  }
  footer {
    flex-shrink: 0;
  }
  
header{
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    border: 1px solid black;
    background-color: aqua;
}

nav{
    background-color: #eee;
    width: 100%;
    height: fit-content;
}
nav button{
    border: none;
    background: transparent;
    font-size: 2rem;
    color:#555;
    
}
.linkedin, .github{
    
    float: right;
    width: 40px;
  }


nav ul li.active a {
    background-color: rgba(0,0,0,0.2);
    color: white;
}
nav ul li a:hover{
    background-color: rgba(0,0,0,0.8);
}

nav ul li a{
    display: block;
    padding: .5rem 2vw;
    text-decoration: none;
    color: #555;
    border-top: 1px solid rgba(0,0,0,0.5);
}
nav ul{
    
    list-style-type: none;
    color: black;
    padding: 0;
    

}
nav ul{
    display: none;
}
nav ul.open{
    display: block;
}



.navigate a:hover{
    background-color: blanchedalmond;
    color: blue;
}

main{
    
    display: grid;
    grid-template-columns: 1fr;
    
}

.sections{
    padding: 10px;
    border: 1px solid black;
    background-color: aquamarine;
    margin: 10px;
    word-wrap: break-word;
    
}
aside{
    flex-direction: column;
}

.sport{
    width: 100%;
    height: 50%;
    border: 1px solid black;
}

.sport:nth-child(3),section:nth-child(5){
    display: none;

}
.spotlight img{

  width: 100%;
  height: 60%;
}

.open span:nth-child(1){
    display: none;
}

.open span:nth-child(2){
    display: block;
}

span:nth-child(1){
    display: block;
}
 span:nth-child(2){
    display: none;
}
#hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  #weather img {
    width: 100px;
    height:  100px;
    object-fit: cover;
  }

  nav ul li a:hover {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
  }
.banner {
    background-color: #f0f0f0;
    color: #333;
    padding: 10px;
    text-align: center;
  }
  

footer{
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;

    border: 1px solid black;
    background-color: aqua;
}

/***Directory***/

.directorymenu {
    background-color: lightblue;
    text-align: center;
    margin-top: 15px;
    padding: 10px 0;
  }
  
  .directorymenu button {
    padding: 15px;
    border-width: 2px;
    border-style: outset;
    border-color: buttonborder;
    border-image: initial;
    background-color: #f0f0f0;
  }
  
  .cards section {
    padding: 15px;
  }
  
  .cards section img {
    width: 500px;
  }
  
  .cards section a {
    word-wrap: break-word;
    font-size: 15px;
    color: #000;
  }
  .cards.grid section.member {
    border: 4px double blue;
    width: auto;

}
.grid.cards img{

    border-radius: 50px;
    width: 100%;
    height: 300px;
}
  
  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    column-gap: 15px;
    row-gap: 15px;
  }
  
  .grid section {
    flex-direction: column;
  }
  
  .grid section > * {
    margin: 2px;
  }
  
  
  
  .cards section h2 {
    font-size: 24px;
  }
  
  .cards {
    margin: 15px 0;
  }


  .grid section:nth-child(7) {
    /* Styling for Company 7 card */
    display: block;
  }
  
  /*Discovery*/
  figure{
    border-radius: 15;
    width: 300px;


}
.gallery{
  justify-items: center;
}
figure .lazy{
    width: 100%;
    border-radius: 25px;
}


  /**end Discovery **/